form {
    background-color: #d6c44f;
    display: grid;
    grid-template-columns: 300px auto;
    padding: 2rem;
    align-items: start;
    width: 65.5rem;
  }
  
  form .medium-select {
    display: grid;
    grid-template-columns: repeat(6, 300px);
  
  }
  
  form label {
    display: inline-block;
  }
  
  img.thali {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  