section.menu {
  display: grid;
  grid-template-rows: 100px 1fr;
}

.headings {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 2rem;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
