section.order-section {
  background-color: antiquewhite;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

article.order-article {
  margin-top: 2rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;
  background-color: antiquewhite;
}

button.place-order {
  display: grid;
  place-items: center;
}
