li.order-item {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  background-color: antiquewhite;
  justify-content: left;
  padding: 1rem;
}

h4.order-item-name, span {
  text-align: left;
  text-transform: capitalize;
}

div.number {
  display: grid;
  grid-template-columns: repeat(4,75px);
  place-items: center;
}


button.minus, button.plus {
  width: 50px;
  font-size: 1.5rem;
  font-weight: bolder;
}